.funding-page {
  padding: 35px;
  background: #f5f7fb;
  min-height: 100vh;
}

.funding-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.funding-top h1 {
  color: #071d49;
  font-size: 36px;
}

.funding-top button,
.form-actions button {
  background: #24317c;
  color: white;
  border: none;
  padding: 13px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.funding-form-box {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.funding-form-box h2 {
  color: #071d49;
  margin-bottom: 20px;
}

.funding-form-box form {
  display: grid;
  gap: 15px;
}

.funding-form-box input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

.form-actions {
  display: flex;
  gap: 12px;
}

.cancel-btn {
  background: #6b7280 !important;
}

.funding-table {
  background: white;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  overflow: hidden;
}

.table-head,
.table-row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr;
  padding: 18px 24px;
  align-items: center;
}

.table-head {
  background: #071d49;
  color: white;
  font-weight: 700;
}

.table-row {
  border-bottom: 1px solid #eee;
}

.table-row img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
}

.edit-btn {
  background: #24317c;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  margin-right: 8px;
}

.delete-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}